@import "partials/reset";

@import "variables/variables";

@import "partials/typography";

@import "partials/base";


body {
	margin: 0;
	padding: 0;
	background: $bodycolor;
    
	//overflow-x: hidden;
}



@import "modules/header";

@import "modules/aboutme";

@import "modules/featured";

@import "modules/projects";

@import "modules/contact";

@import "vendor/animate";

@import "partials/grids";

// bower:scss
// endbower

