$mobile-width: 580px
$tablet-width: 960px
$desktop-width: 1200px

=mobile
	@media (max-width: #{$mobile-width}) 
		@content

=tablet
	@media (max-width: #{$tablet-width})
		@content


header
	@include tablet
		height: 400px

	@include mobile
		height: 250px

.logo

	@include tablet
		font-size: 2.5em
		text-align: center
		padding: 1em

	@include mobile
		font-size: 2em
		text-align: center
		padding: 1em

//about

.face 
	@include tablet
		width: 250px
		height: 250px

	@include mobile
		width: 200px
		height: 200px

.description
	@include tablet
		font-size: 1.5rem

.skill-block
	@include tablet
		max-width: 480px

.skill-box
	@include tablet
		width: 100%

	@include mobile
		width: 100%

//fed

.feat-box 
	@include tablet
		max-width: 800px

	@include mobile
		display: block

.feat
	@include tablet
		width: 200px

		img 
			width: 200px

	@include mobile
		padding: 2em
		margin: 0
		width: auto

//////////////////////////////////////////////

.proj
	@include tablet
		width: 150px

		img
			width: 75px

		h4
			font-size: 1.1em

		p 
			font-size: 0.8em

	@include mobile
		padding: 1em

		h4
			font-size: 1em

		p 
			display: none


.menubar
	@include tablet
		width: 250px
		left: -250px

	@include mobile
		width: 150px
		left: -150px

.menubutton
	@include tablet
		left: 275px

	@include mobile
		left: 175px

.menu-open
	left: 0