body
	margin: 0

body, p, a
	font-family: 'Open Sans', sans-serif
	color: #555
	font-size: 14px
	line-height: 1.6
	font-weight: 300
	-webkit-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased

h1
	font-size: 2.8em
	font-weight: bold
	margin: 0.5em 0

h2
	font-size: 2.4em
	font-weight: bold
	margin: 0.5em 0

h3
	font-size: 2em
	font-weight: bold
	margin: 0.5em 0

h4
	font-size: 1.5em
	font-weight: bold
	margin: 0.5em 0

h5
	font-size: 1.2em
	font-weight: bold
	margin: 0.5em 0

h6
	font-size: 1em
	font-weight: bold
	margin: 0.5em 0

p 
	margin: 1em 0

.center
	text-align: center 

.left
	text-align: left

.right
	text-align: right

.logo
	font-family: 'Cinzel Decorative', cursive
	color: #fff
	font-size: 5rem
	font-weight: 300
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)