.featured
	position: relative
	background: $accentcolor
	overflow-x: hidden
	background: 
		image: url(../images/featured-bg.jpg)
		repeat: no-repeat
		size: cover
		position: center
		color: $accentcolor

.carousel-buttons
	position: relative
	z-index: 5
	display: block
	width: 100%
	text-align: center

	.btn
		margin: 1em 0

.carousel-full
	width: 400%
	position: relative
	z-index: 5
	+clearfix

.slide
	position: relative
	float: left
	width: 25%
	display: inline-block
	left: 0%
	opacity: 0
	transition: all .75s ease-in-out

.slide-box
	max-width: 1200px
	margin: 0 auto 5em
	+clearfix

.feat
	+clearfix

.feat-img 
	//float: left
	//margin: 1em
	//width: 20%
	height: auto
	text-align: center

	img 
		width: 100%

.feat-content 
	//float: left
	//width: 75%
	//margin: 1em
	color: #fff

	p 
		color: #fff

#slide-1
	opacity: 1