.featured
	position: relative
	background: $accentcolor
	overflow-x: hidden
	background: 
		image: url(../images/featured-bg.jpg)
		repeat: no-repeat
		size: cover
		position: center
		color: $accentcolor


.overlay-sub
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: $accentcolor
	z-index: 3
	opacity: 0.8


.carousel-buttons
	position: relative
	z-index: 5
	display: block
	width: 100%
	padding: 2em 0
	text-align: center

.carousel-full
	width: 400%
	position: relative
	z-index: 5
	+clearfix

.slide
	position: relative
	float: left
	width: 25%
	display: inline-block
	left: 0%
	opacity: 0
	transition: all .75s ease-in-out

.slide-box
	max-width: 1200px
	margin: 5em auto
	+clearfix

.feat
	+clearfix

.feat-img 
	float: left
	margin: 1em
	width: 50%
	height: auto

	img 
		width: 100%

.feat-content 
	float: left
	width: 45%
	margin: 1em
	color: #fff

	p 
		color: #fff

#slide-1
	opacity: 1