#projects
	position: relative

.projects
	display: flex
	max-width: 1200px
	margin: 5em auto
	justify-content: space-around
	flex-wrap: wrap
	text-align: center
	transition: all .75s ease-in-out

.proj
	width: 250px
	margin: 20px
	transition: all .75s ease-in-out

	img
		width: 250px
	
	svg
		border-radius: 50%
		transition: all .5s ease-in-out
	
		&:hover 
			cursor: pointer
			box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5)


.page-load
	

.popupinfor
	width: 70%
	left: 15%
	top: 0
	z-index: 200
	position: absolute
	transition: all .75s ease-in-out

.subproj
	display: flex
	max-width: 1200px
	margin: 5em auto
	flex-wrap: wrap
	text-align: center

.close
	height: 40px
	width: 40px
	cursor: pointer
	opacity: 0.5
	position: absolute
	top: -18px
	left: -18px
	display: none

	svg 
		height: 40px
		width: 40px

	&:hover 
		opacity: 1