section#aboutme
	.face


	.description 
		p= index.description

	.skill-block
		.skill-box
			.skill-label Communication
			.skill
				span.skill-bar.skill-level-90

		.skill-box
			.skill-label Learning
			.skill
				span.skill-bar.skill-level-95

		.skill-box
			.skill-label Planning
			.skill
				span.skill-bar.skill-level-70

		.skill-box
			.skill-label UX Design
			.skill
				span.skill-bar.skill-level-80

		.skill-box
			.skill-label Organization
			.skill
				span.skill-bar.skill-level-60

		.skill-box
			.skill-label Teaching
			.skill
				span.skill-bar.skill-level-55

		.skill-box
			.skill-label Visual Design
			.skill
				span.skill-bar.skill-level-50


		.skill-box
			.skill-label Programming
			.skill
				span.skill-bar.skill-level-75