section#featured.featured
	.overlay-sub

	.carousel-buttons
		button(value="slide-1").btn tab1
		button(value="slide-2").btn tab2
		button(value="slide-3").btn tab3
		button(value="slide-4").btn tab4

	.carousel-full
		#slide-1.slide
			.slide-box
				article.feat
					.feat-img 
						img(src="images/slide-1.jpg", alt="")
					.feat-content
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 

		#slide-2.slide
			.slide-box
				article.feat
					.feat-img 
						img(src="images/slide-2.jpg", alt="")
					.feat-content
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 

		#slide-3.slide
			.slide-box
				article.feat
					.feat-img 
						img(src="images/slide-3.jpg", alt="")
					.feat-content
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 

		#slide-4.slide
			.slide-box
				article.feat
					.feat-img 
						img(src="images/slide-4.jpg", alt="")
					.feat-content
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 


		
