section#featured.featured

	.carousel-buttons
		button(value="slide-1").btn Map
		button(value="slide-2").btn Calendar
		button(value="slide-3").btn Book
		button(value="slide-4").btn Pocket

	.carousel-full
		#slide-1.slide
			.slide-box
				article.feat
					.feat-img 
						include ../icons/big/Map.html
					.feat-content
						h4 Map
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non

		#slide-2.slide
			.slide-box
				article.feat
					.feat-img 
						include ../icons/big/Calendar.html
					.feat-content
						h4 Calendar
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non

		#slide-3.slide
			.slide-box
				article.feat
					.feat-img 
						include ../icons/big/book.html
					.feat-content
						h4 Book
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non

		#slide-4.slide
			.slide-box
				article.feat
					.feat-img 
						include ../icons/big/Pocket.html
					.feat-content
						h4 Pocket
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non Laudantium non natus amet quos! Autem optio labore, non


		
