section#featured.featured
	.overlay-sub
	.feat-box
		article.feat
			img(src="images/f-img-1.jpg", alt="")
			h4 consectetur adipisicing
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 

		article.feat
			img(src="images/f-img-1.jpg", alt="")
			h4 consectetur adipisicing
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 

		article.feat
			img(src="images/f-img-1.jpg", alt="")
			h4 consectetur adipisicing
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non natus amet quos! Autem optio labore, non 