footer#footer

	.footer

		.container

			p.copyright &copy; 2015 YourSite, Inc

			.footer-nav
				a(href='#home') Home
				a(href='#aboutme') About Me
				a(href='#featured') Featured
				a(href='#projects') Projects
				a(href='#contact') Contact
		
