.menuIn
	.menubutton
	
	.logoimg
		include ../icons/logo/Infinity-Loop.html

	nav
		a(href='#home') Home
		a(href='#aboutme') About Me
		a(href='#featured') Featured
		a(href='#projects') Projects
		a(href='#contact') Contact