section#projects

	.contain

		.box#slide-1
			.slide
				img(src="images/slide-1.jpg", alt="")
		.box#slide-2
			.slide
				img(src="images/slide-2.jpg", alt="")
		.box#slide-3
			.slide
				img(src="images/slide-3.jpg", alt="")
			
		.slide-bs
			a(href="#slide-1") slide one
			a(href="#slide-2") slide two 
			a(href="#" class="s3") slide three
			
		