section#projects

	.projects-wrap

		.proj-wrap.proj-slide

			.projects

				article#proj-1.proj
						include ../icons/book.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-2.proj
						include ../icons/Infinity-Loop.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-3.proj
						include ../icons/Gift-Box.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-4.proj
						include ../icons/Calendar.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-5.proj
						include ../icons/Map.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-6.proj
						include ../icons/Pensils.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-7.proj
						include ../icons/Pocket.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

				article#proj-8.proj
						include ../icons/Retina-Ready.html
						h4 consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non 

		.popup-wrap.proj-slide
		
			.popupinfor
				.page-load
				.close 
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 40 40"><path d="M22.896 29.125c-.256 0-.512-.098-.707-.293l-8.125-8.125c-.391-.391-.391-1.023 0-1.414l8.125-8.125c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-7.418 7.418 7.417 7.418c.391.391.391 1.023 0 1.414-.195.195-.451.293-.706.293zM20 6c7.72 0 14 6.28 14 14s-6.28 14-14 14-14-6.28-14-14 6.28-14 14-14m0-2c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16z"></path></svg>
